* {
    box-sizing: border-box;
    margin: 0;
}

/* body tag used for temp visual reference */
body {
    background-color: gray;
}

/* Start of actual code */
#board {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 1000px;
    height: 600px;
    margin: auto;
    background-color: white;
}

#number-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "name name empty empty empty empty empty empty empty empty lockout lockout"
        "red red red red red red red red red red lockout lockout"
        "yellow yellow yellow yellow yellow yellow yellow yellow yellow yellow lockout lockout"
        "green green green green green green green green green green lockout lockout"
        "blue blue blue blue blue blue blue blue blue blue lockout lockout";
}

#name {
    grid-area: name;
}


