* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 927px;
    height: 100px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
    font-weight: 900;
    gap: 5px;
    font-size: 1.3rem;
}

#play-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#turn-box, #instructions-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 752px;
    width: 300px;
    margin: 20px 20px 0;
    border: 2px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
}

#instructions-box {
    padding: 10px 10px 10px 30px;
}

#instructions-ul {
    margin-top: 12px;
}

#instructions-box > h2 {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
}

.instruction {
    font-size: .97rem;
}

#play-column {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#board {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    width: 927px;
    height: 532px;
    gap: 10px;
    margin: 20px auto;
    background-color: whitesmoke;
    border: 2px solid black;
}

#name {
    margin: 10px 0 5px 40px;
}

#number-grid {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 5px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.numbers-row {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 5px;
}

.numbers, .lock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    padding: 0;
    background-color: white;
    opacity: .8;
    cursor: pointer;
    font-size: 45px;
    font-weight: bold;
    line-height: 100%;
}

.lock {
    border-radius: 100%;
}

#scoring-and-penalty-row {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 5px;
}

.scoring {
    justify-content: space-between;
    margin: 10px 20px;
    text-align: center;
}

#penalties-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#penalties-box > * {
    display: flex;
}

#die-icon {
    height: 20px;
    width: 20px;
    background-color: black;
}

#score-total-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: gray;
}

#score-total-row > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    padding: 0;
}

.score-total-box {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 25px;
}

#red-total-box {
    background-color: red;
}

#yellow-total-box {
    background-color: yellow;
}

#green-total-box {
    background-color: green;
}

#blue-total-box {
    background-color: blue;
}

#penalty-total-box {
    background-color: white;
}

#total-box {
    width: 180px;
    background-color: white;
}

button:disabled {
    cursor: not-allowed;
}

.box-mark {
    position: absolute;
    font-weight: 1;
    line-height: 100%;
    font-size: 4.5rem;
}

#display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 927px;
    height: 200px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
}

#player-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.control-buttons {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-color: white;
    border-radius: 8px;
}

#dice-box {
    width: 650px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
}

.die {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 3px solid black;
    border-radius: 25px;
    line-height: 100%;
    font-size: 50px;
    font-weight: 900;
}

.white-die {
    background-color: white;
}

#red-die {
    background-color: red;
}

#yellow-die {
    background-color: yellow;
}

#green-die {
    background-color: green;
}

#blue-die {
    background-color: blue;
}
